*#
*~
bookmarks
elpa/
eshell/
image-dired/
network-security.data
tramp
transient/
url/
projectile-bookmarks.eld
recentf
myinit.el
_myinit.el
.cache/
cnfonts/
custom-vars.el
eln-cache/
pyim/

org-roam.db
.org-id-locations
projectile.cache
projects
history
places
.emacs.desktop*
.mbsyncpass.gpg
librime/